<app-navbar></app-navbar>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Favorite Artists</h4>
                <div class="time-options">
                    <p>All Time</p>
                    <p class="active">Past 3 Months</p>
                    <p>Past 4 Months</p>
                </div>

            </div>


        </div>

        <div class="col-md-3 col-sm-1 col-xs-1 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-sm-1 col-xs-1 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-sm-1 col-xs-1 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-sm-1 col-xs-1 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-sm-1 col-xs-1 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-sm-1 col-xs-1 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>

    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Favorite Artists</h4>
                <div class="time-options">
                    <p>All Time</p>
                    <p class="active">Past 3 Months</p>
                    <p>Past 4 Months</p>
                </div>

            </div>


        </div>




    </div>

    <div class="row artist-row">

        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>
        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container">
                <img src="https://i.scdn.co/image/b1414e865a16bc0080085ee1901d0bfd19f83fcb" alt=""
                    class="rounded-circle">
                <div class="overlay">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name">Kanye West</p>
        </div>


    </div>

</div>