<app-navbar></app-navbar>


<app-error *ngIf='serverError'></app-error>


<app-loader *ngIf="!artists && !serverError"></app-loader>



<div class="container " *ngIf="artists && !serverError">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Favorite Artists</h4>
                <div class="time-options">
                    <p [ngClass]="{active: activeClass.allTime}" (click)="getAllTime()">All Time</p>
                    <p [ngClass]="{active: activeClass.sixMonths}" (click)="getSixMonths()">Past 6 Months</p>
                    <p [ngClass]="{active: activeClass.threeWeeks}" (click)="getThreeWeeks()">Past 3 Weeks</p>
                </div>

            </div>


        </div>




    </div>

    <div class="row artist-row">

        <div class="col-md-3 col-xs-6 artist-column" *ngFor="let artist of artists.items">
            <div class="img-container" *ngIf="artist.images.length">
                <img src="{{artist.images[0].url}}" alt="" class="rounded-circle">
                <div class="overlay" (click)="goToArtist(artist.id)">
                    <i class="fa fa-info-circle "></i>
                </div>
            </div>
            <p class="artist-name" *ngIf="artist.images.length" (click)="goToArtist(artist.id)">{{artist.name}}</p>
        </div>

    </div>

</div>