.welcome-text {
  margin-top: 30%;
}

button {
  font-size: 12px;
  //   border-radius: 20px;
  background-color: #1db954;
  color: white;
  min-width: 160px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 17px 35px;
  margin: 20px 0px 70px;
  //   transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

button:hover {
  // background-color: red;
  background-color: #2ad164;
}

h1 {
  font-size: 2.5rem;
  font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 900;
}

:host {
  color: white;
}

//======================================================================
//                        MEDIA QUERY
//======================================================================

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .welcome-text {
    margin-top: 50%;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 13px;
  }
}
