<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Playlist Following</h4>
                <!-- <div class="time-options">
                    <p>All Time</p>
                    <p class="active">Past 3 Months</p>
                    <p>Past 4 Months</p>
                </div> -->

            </div>


        </div>




    </div>

    <div class="row artist-row">

        <div class="col-md-3 col-xs-6 artist-column">
            <div class="img-container d-block">
                <img src="https://i.scdn.co/image/ab67706f000000025e280eb227e95d7198150d16" alt="">

            </div>
            <p class="artist-name ">khj</p>
            <p class="text-muted">90 Songs</p>
        </div>




    </div>

</div>