<app-navbar></app-navbar>


<div class="container" *ngIf="playlist">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Playlist Following</h4>
                <!-- <div class="time-options">
                    <p>All Time</p>
                    <p class="active">Past 3 Months</p>
                    <p>Past 4 Months</p>
                </div> -->

            </div>


        </div>




    </div>

    <div class="row artist-row">

        <div class="col-md-3 col-xs-6 artist-column" *ngFor="let pl of playlist.items">
            <div class="img-container d-block">
                <img src="{{pl.images[0].url}}" alt="" (click)="goToPlaylist(pl.id)">

            </div>
            <p class="artist-name " (click)="goToPlaylist(pl.id)">{{pl.name}}</p>
            <p class="text-muted">{{pl.tracks.total}} </p>
        </div>




    </div>

</div>