<app-navbar></app-navbar>

<app-loader *ngIf="!album"></app-loader>


<div class="container-fluid" *ngIf="album">
    <div class="row ">

        <div class="col-md-4 album-info px-0 ">
            <div class="img ">
                <img src="{{album.images[0].url}}" class="album-image px-auto ml-md-5 ml-sm-0" alt="">
            </div>

            <h1 class="album-header mt-md-3 ml-md-5 ">{{album.name}}</h1>
            <p class="text-muted album-artist ml-5">{{album.artists[0].name}}</p>
            <p class="ml-5 track-total">{{album.total_tracks}} Tracks</p>
            <button class=" btn following-button ml-5 " (click)="listenOnSpotifyButton()">Listen On Spotify</button>
        </div>

        <div class="col-md-6 px-0 pr-5 list ">

            <div class="song-list d-flex flex-row tracks" *ngFor="let track of album.tracks.items">
                <div class="img-container">
                    <i class="fa fa-music"></i>
                    <i class="fa fa-sliders " (click)="goToTrack(track.track.id)"></i>
                </div>

                <div class="song-info mt-md-auto mt-sm-0 mt-xs-0">
                    <p class="song-title" (click)="goToTrack(track.id)">{{track.name}}</p>
                    <p class="text-muted">{{track.artists[0].name}}</p>
                </div>
                <p class="mt-auto ml-auto text-muted" style="font-weight: 500;">{{track.duration_ms}}</p>

            </div>

        </div>

    </div>
</div>