<div id="navbar">
    <div id="img-container">
        <img src="https://image.flaticon.com/icons/png/512/2111/2111624.png" width="40" height="40"
            class="rounded-circle ">
    </div>

    <ul class="navbar-nav ">
        <li class="nav-item  mt-5" routerLink="/dashboard" routerLinkActive="active-link">
            <i class="fa fa-user-circle"></i>
            <a class="nav-link"> Dashboard</a>
        </li>
        <li class="nav-item" routerLink="/favoriteartists" routerLinkActive="active-link">

            <i class="fa fa-microphone"></i>
            <a class="nav-link"> Favorite Artists</a>
        </li>
        <li class="nav-item" routerLink="/favoritetracks" routerLinkActive="active-link">
            <i class="fa fa-music"></i>
            <a class="nav-link">Favorite Tracks</a>
        </li>
        <li class="nav-item" routerLink="/playlist" routerLinkActive="active-link">
            <i class="fa fa-bars"></i>
            <a class="nav-link">Playlist</a>
        </li>
        <li class="nav-item" routerLink="/recent" routerLinkActive="active-link">
            <i class="fa fa-reply-all"></i>
            <a class="nav-link">Recent</a>
        </li>
        <li class="nav-item logout">
            <i class="fa fa-lock"></i>
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
</div>

<footer class="footer navbar fixed-bottom">
    <div class="d-flex flex-row justify-content-between">


        <div class="nav-item" routerLink="/dashboard" routerLinkActive="active-link-mobile">
            <div class="nav-link">
                <i class="fa fa-user-circle"></i>
                <a class="nav-link"> Dashboard</a>
            </div>
        </div>
        <div class="nav-item" routerLink="/favoriteartists" routerLinkActive="active-link-mobile">
            <div class="nav-link">
                <i class="fa fa-microphone"></i>
                <a class="nav-link"> Favorite Artists</a>
            </div>
        </div>
        <div class="nav-item" routerLink="/favoritetracks" routerLinkActive="active-link-mobile">
            <div class="nav-link">
                <i class="fa fa-music"></i>
                <a class="nav-link">Favorite Tracks</a>
            </div>
        </div>
        <div class="nav-item" routerLink="/playlist" routerLinkActive="active-link-mobile">
            <div class="nav-link">
                <i class="fa fa-bars"></i>
                <a class="nav-link">Playlist</a>
            </div>
        </div>
        <div class="nav-item" routerLink="/recent" routerLinkActive="active-link-mobile">
            <div class="nav-link">
                <i class="fa fa-reply-all"></i>
                <a class="nav-link">Recent</a>
            </div>
        </div>


    </div>
</footer>