#navbar {
  //   border: 1px solid green;
  height: 100%;
  width: 100px;
  position: fixed;
  background-color: #040306;
  -webkit-box-shadow: 5px 1px 13px -9px #000000;
  box-shadow: 5px 1px 13px -9px #000000;
  top: 0px;
}

#img-container {
  img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 44px;
    margin-bottom: auto;
  }
}

.navbar-nav {
  //   border: 1px solid red;
  // margin-top: 150%;
  // height: 100%;
  color: #9b9b9b;
  font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  //   border-left: 5px solid #040306;
  text-align: center;

  a {
    color: #9b9b9b;
  }

  .nav-item {
    // border: 1px solid green;
    padding-top: 10px;
    height: 80px;
    border-left: 5px solid #040306;
  }

  .nav-item:hover {
    color: white;
    border-left: 5px solid #2ad164;
    background-color: #181818;

    a {
      color: white;
    }
  }

  .fa {
    font-size: 24px;
  }
}

footer {
  display: none;
}

//======================================================================
//                        MEDIA QUERY
//======================================================================

//IPHONE X
@media only screen and (max-device-width: 927px) {
  #navbar {
    display: none;
  }

  footer {
    display: block;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #040306;
    color: white;
    text-align: center;
    height: 80px;

    .fa {
      font-size: 24px;
    }

    .nav-item {
      height: 70px;
      //   width: 150px;
      //   border: 1px solid red;
      color: #9b9b9b;
      font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 11px;
      border-top: 5px solid #040306;
      text-align: center;
    }

    .nav-link {
      padding-right: 8px;
      padding-left: 8px;
      padding-top: 0;
    }

    a {
      color: #9b9b9b;
    }

    .nav-item:hover {
      color: white;
      border-top: 5px solid #2ad164;
      background-color: #181818;

      a {
        color: white;
      }
    }
  }
}
