<app-navbar></app-navbar>

<app-error *ngIf='serverError'></app-error>

<app-loader *ngIf="!tracks && !serverError"></app-loader>


<div class="container" *ngIf='tracks && !serverError'>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Recent Tracks</h4>


            </div>


            <div class="song-list d-flex flex-row tracks" *ngFor='let song of tracks.items'>
                <div class="img-container">
                    <i class="fa fa-music"></i>
                    <i class="fa fa-sliders " (click)="goToTrack(song.id)" (click)="goToTrack(song.track.id)"></i>
                </div>

                <div class="song-info mt-md-auto mt-sm-0 mt-xs-0">
                    <p class="song-title" (click)="goToTrack(song.track.id)" style="cursor: pointer;">
                        {{song.track.name}}</p>
                    <p class="text-muted">{{song.track.artists[0].name}}</p>
                </div>
                <p class="mt-auto ml-auto text-muted" style="font-weight: 500;">{{song.track.duration_ms}}</p>

            </div>

        </div>
    </div>
</div>