.row {
  // border: 1px solid red;
  //   text-align: center;
}

h1 {
  font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
}

.profile-content {
  text-align: center;
}

img {
  height: 150px;
  width: 150px;
}

.profile-info {
  color: #1db954;
  font-weight: 700;
}

.text-muted {
  font-size: 14px;
  color: #9b9b9b;
}
