<app-error *ngIf='serverError'></app-error>

<div class="container" *ngIf="profile && !serverError">
    <div class="row mt-4">
        <div class="col-md-12 profile-content">
            <img src="{{profile.images[0].url}}" alt="" class="rounded-circle">
            <!-- <img src="https://image.flaticon.com/icons/png/512/2111/2111624.png" alt=""> -->
            <br>
            <a href="{{profile.external_urls.spotify}}" style="display: inline-block;"
                class="header mt-3">{{profile.display_name}}</a>

            <div class="d-flex flex-row justify-content-center mt-3">
                <div class="mr-4">
                    <h5 class="profile-info">{{profile.followers.total}}</h5>
                    <p class="text-muted">FOLLOWERS</p>
                </div>
                <div class="mr-4">
                    <h5 class="profile-info">27</h5>
                    <p class="text-muted">PLAYLIST</p>
                </div>
                <div class="mr-4">
                    <h5 class="profile-info">{{profile.id}}</h5>
                    <p class="text-muted">ID</p>
                </div>


            </div>

            <button class="mt-5 btn logout-button">LOGOUT</button>

        </div>
    </div>
</div>