/* You can add global styles to this file, and also import other style files */

body {
  background-color: #181818;
  font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
  // font-weight: 900;
  color: white;
}
