<app-navbar></app-navbar>

<app-loader *ngIf="!track && !trackFeatures"></app-loader>


<div class="container" *ngIf="track && trackFeatures">
    <div class="row mt-4">
        <div class="col-md-12 profile-content">
            <img src="{{track.album.images[0].url}}" alt="">
            <br>
            <h1 class="mt-3" style="display: inline-block;" id='trackHeader'>{{track.name}}</h1>
            <h5 class="text-muted">{{track.artists[0].name}}</h5>
            <button class="mt-3 btn following-button " (click)="goToSpotify(track.external_urls.spotify)">Listen on
                Spotify</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-dark mt-5">

                <tbody>
                    <tr>
                        <td>
                            <p class="title">{{trackFeatures.duration_ms}}</p>
                            <p class="helper">Duration</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.mode}}</p>
                            <p class="helper">Mode</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.acousticness}}</p>
                            <p class="helper">acousticness</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.tempo}}</p>
                            <p class="helper">Tempo - BPM</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.valence}}</p>
                            <p class="helper">valence</p>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <p class="title">{{trackFeatures.key}}</p>
                            <p class="helper">Key</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.loudness}}</p>
                            <p class="helper">loudness</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.energy}}</p>
                            <p class="helper">energy</p>
                        </td>
                        <td>
                            <p class="title">{{trackFeatures.danceability}}</p>
                            <p class="helper">danceability</p>
                        </td>
                        <td>
                            <p class="title">{{track.popularity}}%</p>
                            <p class="helper">Popularity</p>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-12 text-center">
            <button class="mt-3 btn following-button ">Listen on Spotify</button>
        </div>
    </div> -->

</div>