<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 profile-content">
            <img src="https://i.scdn.co/image/ab67616d0000b2732fb855430bbc5abe85e04e31" alt="">
            <br>
            <h1 class="mt-3" style="display: inline-block;">Colours</h1>
            <h5 class="text-muted">Grouplove</h5>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-dark mt-5">

                <tbody>
                    <tr>
                        <td>
                            <p class="title">4:14</p>
                            <p class="helper">Duration</p>
                        </td>
                        <td>
                            <p class="title">Major</p>
                            <p class="helper">Modality</p>
                        </td>
                        <td>
                            <p class="title">4</p>
                            <p class="helper">Time Signature</p>
                        </td>
                        <td>
                            <p class="title">94</p>
                            <p class="helper">Tempo - BPM</p>
                        </td>
                        <td>
                            <p class="title">800</p>
                            <p class="helper">Segments</p>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <p class="title">Gb</p>
                            <p class="helper">Key</p>
                        </td>
                        <td>
                            <p class="title">99</p>
                            <p class="helper">Bars</p>
                        </td>
                        <td>
                            <p class="title">394</p>
                            <p class="helper">Beats</p>
                        </td>
                        <td>
                            <p class="title">7</p>
                            <p class="helper">Sections</p>
                        </td>
                        <td>
                            <p class="title">20%</p>
                            <p class="helper">Popularity</p>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="mt-3 btn following-button ">Listen on Spotify</button>
        </div>
    </div>

</div>