.container {
  //   border: 1px solid red;
  margin-top: 70px;
}

.recommended-header {
  font-weight: 900;
  letter-spacing: -0.025em;
  font-size: 18px;
}

.artist {
  //   border: 1px solid green;
}
.tracks {
  //   border: 1px solid yellow;
}

.view-all-button {
  border: 1px solid white;
  color: white;
  width: 115px;
  border-radius: 19px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  margin-top: -8px;
  letter-spacing: 2px;
}

.view-all-button:hover {
  background-color: white;
  color: black;
}
