<div class="container" *ngIf="newReleases && topArtists">
    <div class="row">


        <div class="col-md-6 artist">
            <div class="d-flex flex-row justify-content-between mt-3 mb-3">
                <h5 class="recommended-header">Top Artists</h5>
                <button class="btn view-all-button" (click)="viewAllArtist()">View All</button>
            </div>

            <div class="artist-list" *ngFor="let artist of topArtists.items">
                <img src="{{artist.images[0].url}}" alt="" class="rounded-circle" (click)="goToArtist(artist.id)"
                    style="cursor: pointer;">

                <h5 (click)="goToArtist(artist.id)">{{artist.name}}</h5>

                <div class="icon">
                    <i class="fa fa-info-circle ml-auto"></i>
                </div>
            </div>

        </div>



        <div class="col-md-6 tracks">
            <div class="d-flex flex-row justify-content-between mt-3 mb-3">
                <h5 class="recommended-header new-releases">New Releases</h5>
                <!-- <button class="btn view-all-button" (click)="viewAllReleases()">View All</button> -->
            </div>

            <div class="song-list d-flex flex-row " *ngFor="let songs of newReleases.items">
                <div class="img-container" (click)="goToAlbum(songs.id)">
                    <img src="{{songs.images[2].url}}" alt="" class="">
                    <div class="overlay">
                        <i class="fa fa-info-circle  "></i>
                    </div>
                </div>

                <div class="song-info">
                    <p class="song-title" (click)="goToAlbum(songs.id)">{{songs.name}}</p>
                    <p class="text-muted">{{songs.artists[0].name}}
                </div>
                <p class="mt-auto ml-auto text-muted" style="font-weight: bolder;">{{songs.total_tracks}}</p>

            </div>



        </div>
    </div>
</div>