<div class="container">
    <div class="row">


        <div class="col-md-6 artist">
            <div class="d-flex flex-row justify-content-between mt-3 mb-3">
                <h5 class="recommended-header">Recommended Artist</h5>
                <button class="btn view-all-button">View All</button>
            </div>

            <div class="artist-list">
                <img src="https://i.scdn.co/image/ac5cb571c194ca5a942b8096618217839b901a76" alt=""
                    class="rounded-circle">

                <h5>Kanye West</h5>

                <div class="icon">
                    <i class="fa fa-info-circle ml-auto"></i>
                </div>
            </div>

        </div>



        <div class="col-md-6 tracks">
            <div class="d-flex flex-row justify-content-between mt-3 mb-3">
                <h5 class="recommended-header">Recommended Songs</h5>
                <button class="btn view-all-button">View All</button>
            </div>

            <div class="song-list d-flex flex-row ">
                <div class="img-container">
                    <img src="https://i.scdn.co/image/ac5cb571c194ca5a942b8096618217839b901a76" alt="" class="">
                    <div class="overlay">
                        <i class="fa fa-info-circle "></i>
                    </div>
                </div>

                <div class="song-info">
                    <p class="song-title">These Walls</p>
                    <p class="text-muted">Kendrick Lamar - Section 80</p>
                </div>

            </div>
        </div>
    </div>
</div>