<div class="container">
    <div class="row">
        <div class="col-md-6 artist">
            <div class="d-flex flex-row justify-content-between mt-3">
                <h5 class="recommended-header">Recommended Artist</h5>
                <button class="btn view-all-button">View All</button>
            </div>
        </div>
        <div class="col-md-6 tracks">
            <div class="d-flex flex-row justify-content-between mt-3">
                <h5 class="recommended-header">Recommended Songs</h5>
                <button class="btn view-all-button">View All</button>
            </div>
        </div>
    </div>
</div>