.container {
  //   border: 1px solid red;
  margin-top: 70px;
  margin-bottom: 100px;
}

.recommended-header {
  font-weight: 900;
  letter-spacing: -0.025em;
  font-size: 18px;
}

.artist {
  //   border: 1px solid green;

  .artist-list {
    // border: 1px solid blue;

    margin-top: 40px;

    .icon {
      //   border: 1px solid red;
      //   display: inline-block;
      display: none;
      margin-left: 150px;

      .fa {
        font-size: 20px;
      }
    }

    img {
      display: inline-block;
      height: 53px;
      //   width: 74px;
    }
    h5 {
      display: inline-block;
      margin-left: 14px;
      font-size: 16px;
    }

    h5:hover {
      border-bottom: 2px solid white;
    }
  }

  .artist-list:hover {
    // background-color: black;
    // opacity: 0.8;

    .icon {
      display: inline-block;
      animation: info 1s ease-out forwards;
    }

    @keyframes info {
      0% {
        // transform: translateX(0) scale(1);
        opacity: 0;
      }

      50% {
        // transform: translateX(300px) scale(1.2);
        opacity: 0.5;
      }

      75% {
        // transform: translateX(400px) scale(1);
        opacity: 0.7;
      }

      100% {
        // transform: translateX(400px) scale(1);
        opacity: 0.8;
      }
    }
  }
} //end of artist

.tracks {
  //   border: 1px solid yellow;

  .song-list {
    // border: 1px solid orange;
    margin-top: 40px;

    .img-container {
      display: inline-block;
      position: relative;
    }

    img {
      // display: inline-block;
      height: 50px;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: black;
      text-align: center;

      .fa {
        margin-top: 30%;
        font-size: 20px;
      }
    }

    .song-info {
      //   border: 1px solid red;
      height: 50px;
      margin-left: 15px;

      p {
        margin-bottom: 0;
      }

      .song-title {
        font-weight: 700;
        font-size: 14px;
      }

      .song-title:hover {
        color: rgb(224, 224, 224);
      }

      .text-muted {
        font-size: 11px;
        font-weight: 700;
      }
    }
  } //end of .song-list

  .song-list:hover .overlay {
    opacity: 0.3;
  }
}

.view-all-button {
  border: 1px solid white;
  color: white;
  width: 115px;
  border-radius: 19px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  margin-top: -8px;
  letter-spacing: 2px;
}

.view-all-button:hover {
  background-color: white;
  color: black;
}

//======================================================================
//                        MEDIA QUERY
//======================================================================

//IPHONE X
@media only screen and (max-device-width: 927px) {
}
