<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between ">
                <h4 class="favorite-header">Favorite Tracks</h4>
                <div class="time-options">
                    <p>All Time</p>
                    <p class="active">Past 3 Months</p>
                    <p>Past 4 Months</p>
                </div>

            </div>


            <div class="song-list d-flex flex-row tracks">
                <div class="img-container">
                    <img src="https://i.scdn.co/image/ac5cb571c194ca5a942b8096618217839b901a76" alt="" class="">
                    <div class="overlay">
                        <i class="fa fa-info-circle "></i>
                    </div>
                </div>

                <div class="song-info mt-auto">
                    <p class="song-title">These Walls</p>
                    <p class="text-muted">Kendrick Lamar - Section 80Kendrick Lamar - Section 80Kendrick Lamar - Section
                        80</p>
                </div>
                <p class="mt-auto ml-auto text-muted" style="font-weight: 500;">5:90</p>

            </div>

        </div>
    </div>
</div>