.container {
  //   border: 1px solid red;
  margin-top: 100px;
}

.favorite-header {
  font-weight: 700;
  font-size: 26px;
}

.time-options {
  //   border: 1px solid blue;
  p {
    display: inline-block;
    font-weight: 600;
    color: #6c757d;
    margin-left: 20px;
    font-size: 15px;
  }

  p:hover {
    cursor: pointer;
  }

  p.active {
    color: white;
    border-bottom: 1px solid white;
  }
}

//======================================================================
//                        MEDIA QUERY
//======================================================================

//IPHONE X
@media only screen and (max-device-width: 927px) {
  .favorite-header {
    font-size: 16px;
  }

  .time-options {
    p {
      margin-left: 9px;
      font-size: 10px;
    }
  }
}
