.container {
  //   border: 1px solid red;
  margin-top: 100px;
}

.favorite-header {
  font-weight: 700;
  font-size: 26px;
}

.time-options {
  //   border: 1px solid blue;
  p {
    display: inline-block;
    font-weight: 600;
    color: #6c757d;
    margin-left: 20px;
    font-size: 15px;
  }

  p:hover {
    cursor: pointer;
  }

  p.active {
    color: white;
    border-bottom: 1px solid white;
  }
}

//======================================================================
//                        TRACK LIST
//======================================================================

.tracks {
  //   border: 1px solid red;
}

.song-list {
  // border: 1px solid orange;
  margin-top: 40px;

  .img-container {
    display: inline-block;
    position: relative;
  }

  img {
    // display: inline-block;
    height: 70px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    text-align: center;

    .fa {
      margin-top: 30%;
      font-size: 20px;
    }
  }

  .song-info {
    //   border: 1px solid red;
    height: 50px;
    margin-left: 15px;

    p {
      margin-bottom: 0;
    }

    .song-title {
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 2px;
    }

    .song-title:hover {
      color: rgb(224, 224, 224);
      margin-bottom: 0px;
      border-bottom: 2px solid white;
      display: inline-block;
    }

    .text-muted {
      font-size: 14px;
      font-weight: inherit;
    }
  }
} //end of .song-list

.song-list:hover .overlay {
  opacity: 0.5;
}

//======================================================================
//                        MEDIA QUERY
//======================================================================

//IPHONE X
@media only screen and (max-device-width: 927px) {
  .favorite-header {
    font-size: 16px;
  }

  .time-options {
    p {
      margin-left: 9px;
      font-size: 10px;
    }
  }
}
